<?xml version="1.0"?>
<ruleset name="FIN-CLI">
	<description>Custom ruleset for FIN-CLI</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	For help understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	For help using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage
	#############################################################################
	-->

	<!-- What to scan. -->
	<file>.</file>

	<!-- Ignoring select files/folders.
		 https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->
	<exclude-pattern>*/tests/data/*</exclude-pattern>
	<exclude-pattern>*/bundle/*</exclude-pattern>

	<!-- Show progress. -->
	<arg value="p"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!--
	#############################################################################
	USE THE FIN_CLI_CS RULESET
	#############################################################################
	-->

	<rule ref="FIN_CLI_CS">
		<!-- The `while` control structure is the only one where assignments in conditions are mostly valid. -->
		<exclude name="Generic.CodeAnalysis.AssignmentInCondition.FoundInWhileCondition"/>
	</rule>

	<!--
	#############################################################################
	PROJECT SPECIFIC CONFIGURATION FOR SNIFFS
	#############################################################################
	-->

	<exclude-pattern>*/utils/phpstan/*</exclude-pattern>

	<!-- For help understanding the `testVersion` configuration setting:
		 https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.2-"/>

	<!-- Verify that everything in the global namespace is either namespaced or prefixed.
		 The default prefixes `FIN_CLI` (for namespaces and classes) and `fincli` (for variables) are inherited
		 from the ruleset. This adds one additional allowed prefix specifically for hooks (though
		 not automatically limited to them).
		 See: https://github.com/FinPress-Coding-Standards/FinPress-Coding-Standards/wiki/Customizable-sniff-properties#naming-conventions-prefix-everything-in-the-global-namespace -->
	<rule ref="FinPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" extend="true">
				<element value="cli_"/><!-- Hooks. -->
			</property>
		</properties>
	</rule>

	<!-- Whitelist the Utils\mysql_host_to_cli_args() method.
		 See: https://github.com/phpcompatibility/phpcompatibility#phpcompatibility-specific-options -->
	<rule ref="PHPCompatibility.Extensions.RemovedExtensions">
		<properties>
			<property name="functionWhitelist" type="array">
				<element value="mysql_host_to_cli_args"/>
			</property>
		</properties>
	</rule>

	<!-- Allow for back-compat conversion comments to be explained in logical shorthand.
		 See: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Customisable-Sniff-Properties#squizphpcommentedoutcode -->
	<rule ref="Squiz.PHP.CommentedOutCode">
		<properties>
			<property name="maxPercentage" value="45"/>
		</properties>
	</rule>

	<!--
	#############################################################################
	SELECTIVE EXCLUSIONS
	#############################################################################
	-->

	<!-- Exclude existing classes from the prefix rule as it would break BC to prefix them now. -->
	<rule ref="FinPress.NamingConventions.PrefixAllGlobals.NonPrefixedClassFound">
		<exclude-pattern>*/php/commands/src/CLI_(Cache_)?Command\.php$</exclude-pattern>
		<exclude-pattern>*/php/commands/src/Help_Command\.php$</exclude-pattern>
	</rule>

	<!-- Exclude existing classes from the prefix rule as it would break BC to prefix them now. -->
	<rule ref="FinPress.NamingConventions.PrefixAllGlobals.NonPrefixedFunctionFound">
		<exclude-pattern>php/fin-settings-cli\.php$</exclude-pattern>
	</rule>

	<!-- These are all to do with file-system related tests. Just ignore them. -->
	<rule ref="FinPress.FIN.CapitalPDangit">
		<exclude-pattern>*/tests/(Extractor|Utils)Test\.php$</exclude-pattern>
	</rule>

	<!-- Allow for select data providers for tests to use single-line associative arrays. -->
	<rule ref="FinPress.Arrays.ArrayDeclarationSpacing.AssociativeArrayFound">
		<exclude-pattern>*/tests/(Process|Utils)Test\.php$</exclude-pattern>
	</rule>

	<!-- This is a procedural stand-alone file that is never loaded in a FinPress context,
		 so this file does not have to comply with FIN naming conventions. -->
	<rule ref="FinPress.NamingConventions.PrefixAllGlobals">
		<exclude-pattern>*/utils/get-package-require-from-composer\.php$</exclude-pattern>
	</rule>

	<!-- Exclude existing classes from the protected parameter names rule as it would break BC to change these now. -->
	<rule ref="Universal.NamingConventions.NoReservedKeywordParameterNames">
		<exclude-pattern>*/php/FIN_CLI/Iterators/Transform\.php</exclude-pattern>
		<exclude-pattern>*/php/FIN_CLI/Inflector\.php</exclude-pattern>
		<exclude-pattern>*/php/FIN_CLI/Autoloader\.php</exclude-pattern>
		<exclude-pattern>*/php/FIN_CLI/Dispatcher/CommandFactory\.php</exclude-pattern>
		<exclude-pattern>*/php/FIN_CLI/Dispatcher/CompositeCommand\.php</exclude-pattern>
		<exclude-pattern>*/php/FIN_CLI/Dispatcher/Subcommand\.php</exclude-pattern>
		<exclude-pattern>*/php/utils\.php</exclude-pattern>
		<exclude-pattern>*/php/utils-fin\.php</exclude-pattern>
		<exclude-pattern>*/php/FIN_CLI/Runner\.php</exclude-pattern>
		<exclude-pattern>*/php/FIN_CLI/UpgraderSkin\.php$</exclude-pattern>
		<exclude-pattern>*/php/class-fin-cli\.php$</exclude-pattern>
	</rule>

</ruleset>
