parameters:
  level: 9
  paths:
    - php/commands
    - php/FIN_CLI
    - php/boot-fs.php
    - php/bootstrap.php
    - php/class-fin-cli.php
    - php/class-fin-cli-command.php
    - php/dispatcher.php
    - php/utils.php
    - php/utils-fin.php
    - php/fin-cli.php
    - tests
  excludePaths:
     - php/FIN_CLI/ComposerIO.php
     - php/FIN_CLI/PackageManagerEventSubscriber.php
     - tests/data
  scanDirectories:
    - bundle/rmccue/requests
    - vendor/fin-cli/fin-cli-tests
  scanFiles:
    - vendor/php-stubs/finpress-stubs/finpress-stubs.php
    - utils/phpstan/scan-files.php
    - php/boot-fs.php
  treatPhpDocTypesAsCertain: false
  dynamicConstantNames:
    - FIN_DEBUG
    - FIN_DEBUG_LOG
    - FIN_DEBUG_DISPLAY
  strictRules:
    uselessCast: true
    closureUsesThis: true
    overwriteVariablesWithLoop: true
    matchingInheritedMethodNames: true
    numericOperandsInArithmeticOperators: true
    switchConditionsMatchingType: true
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.property
    - identifier: missingType.parameter
    - identifier: missingType.return
