parameters:
  level: 9
  paths:
    - php/commands
    - php/FP_CLI
    - php/boot-fs.php
    - php/bootstrap.php
    - php/class-fp-cli.php
    - php/class-fp-cli-command.php
    - php/dispatcher.php
    - php/utils.php
    - php/utils-fp.php
    - php/fp-cli.php
    - tests
  excludePaths:
     - php/FP_CLI/ComposerIO.php
     - php/FP_CLI/PackageManagerEventSubscriber.php
     - tests/data
  scanDirectories:
    - bundle/rmccue/requests
    - vendor/fp-cli/fp-cli-tests
  scanFiles:
    - vendor/php-stubs/finpress-stubs/finpress-stubs.php
    - utils/phpstan/scan-files.php
    - php/boot-fs.php
  treatPhpDocTypesAsCertain: false
  dynamicConstantNames:
    - FP_DEBUG
    - FP_DEBUG_LOG
    - FP_DEBUG_DISPLAY
  strictRules:
    uselessCast: true
    closureUsesThis: true
    overwriteVariablesWithLoop: true
    matchingInheritedMethodNames: true
    numericOperandsInArithmeticOperators: true
    switchConditionsMatchingType: true
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.property
    - identifier: missingType.parameter
    - identifier: missingType.return
